<p><b>@{{ name }}</b></p>
<app-post></app-post>

<ul class="menu">
  <li><a [routerLink]="['/users', name]">My Profile</a></li>
  <li>Notifications</li>  <!-- TODO : 通知画面・各種 Inbox イベントの際に永続化が必要 -->
  <li>Followers</li>      <!-- TODO : フォロワー一覧・実現のためにはフォローされた時にデータ永続化が必要 -->
  <li>Following</li>      <!-- TODO : フォロー中一覧・実現のためにはフォローしに行く検索画面が必要 -->
</ul>

<hr>
<p><button type="button" (click)="test()">API Test (See Console)</button></p>

<p class="text-right"><button type="button" (click)="logout()">Logout</button></p>
