<app-loading *ngIf="user == null"></app-loading>
<div *ngIf="user != null" class="container">
  <h2>@{{ user.name }}</h2>
  <dl>
    <dt>ユーザ名</dt>
    <dd>{{ user.name }}</dd>
    <dt>登録日</dt>
    <dd>{{ user.createdAt }}</dd>
  </dl>
  <p *ngIf="user.name === authUserName">それはあなたです!</p>
  <p *ngIf="user.name !== authUserName">
    <app-follow-local-user-button [userName]="authUserName" [followingName]="user.name"></app-follow-local-user-button>
  </p>
  <ul>
    <li><a [routerLink]="['/users', user.name, 'followers']">Followers</a></li>
    <li>Following</li>
    <li><a [routerLink]="['/users', user.name, 'posts']">Posts</a></li>
  </ul>
</div>
