<ng-container *ngIf="isLoaded">
  <h2>Login</h2>
  <form [formGroup]="form" (ngSubmit)="login()">
    <dl>
      <dt>ユーザ名</dt>
      <dd><input type="text" placeholder="User Name" formControlName="name"></dd>
      <dt>パスワード</dt>
      <dd><input type="password" placeholder="Password" formControlName="password"></dd>
    </dl>
    <p><button type="submit" [disabled]="form.invalid || isProcessing">ログイン</button></p>
  </form>
  <app-error [error]="error"></app-error>
  
  <hr>
  <p><a [routerLink]="'/signup'">ユーザ登録する</a></p>
</ng-container>
